ion-content {
  --background: radial-gradient(circle at center, darkred, blue);
  display: flex;
  justify-content: center;
  align-items: center;
  --inner-padding-bottom: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-top: 0;
  --padding-bottom: 0;
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: 0;
}
.figuraFondo{
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid rgb(255,255,255,1);
  filter: drop-shadow(0 2px 5px red) drop-shadow(0 2px 5px blue);
  background: transparent;
  animation: figuraEfecto 5s alternate infinite both;
}
@keyframes figuraEfecto {
  0%{
    top: -100px;
    left: -100px;
  }
  100%{
    rotate: 360deg;
    top: 105%;
    left: 105%;
  }
}
.figuraFondo2{
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid rgb(255,255,255,1);
  filter: drop-shadow(0 2px 5px red) drop-shadow(0 2px 5px blue);
  background: transparent;
  animation: figuraEfecto2 5s alternate 1s infinite both;
}
@keyframes figuraEfecto2 {
  0%{
    top: 105%;
    left: 105%;
  }
  100%{
    rotate: 360deg;
    top: -100px;
    left: -100px;
  }
}
.figuraFondo3{
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid rgb(255,255,255,1);
  filter: drop-shadow(0 2px 5px red) drop-shadow(0 2px 5px blue);
  background: transparent;
  animation: figuraEfecto3 5s alternate 2s infinite both;
}
@keyframes figuraEfecto3 {
  0%{
    top: 105%;
    left: -100px;
  }
  100%{
    rotate: 360deg;
    top: -100px;
    left: 105%;
  }
}
.figuraFondo4{
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid rgb(255,255,255,1);
  filter: drop-shadow(0 2px 5px red) drop-shadow(0 2px 5px blue);
  background: transparent;
  animation: figuraEfecto4 5s alternate 3s infinite both;
}
@keyframes figuraEfecto4 {
  0%{

    top: -100px;
    left: 105%;
  }
  100%{
    rotate: 360deg;
    top: 105%;
    left: -100px;
  }
}
.divContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}


form {
  padding: 5%;
  gap: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

ion-img{
  margin: 0;
  padding: 0;
  width: 45vw;
  height: 45vw;
  filter: drop-shadow(0 4px 5px blue);
}
@keyframes zoom {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.1);
  }
}
form ion-item {
  --background: rgb(255,255,255,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 15px;
  --inner-padding-bottom: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-top: 0;
  --padding-bottom: 0;
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: 0;
}

ion-input {
  color: black;
  margin: 10px;
  font-size: 5vw;
}

ion-icon {
  color: black;
  font-size: 7vw;
  padding: 10px;
}

.divBtn{
  filter: drop-shadow(0 2px 5px blue);
  border: 2px solid white;
  border-radius: 15px;
  padding: 15px;
  animation: zoom 1s alternate infinite both;
}

.btn {
  padding: 0;
  margin: 0;
  font-size: x-large;
  font-weight: bold;
  border-radius: 15px;
  color: white;
}





