ion-content {
  --background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  --inner-padding-bottom: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-top: 0;
  --padding-bottom: 0;
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: 0;
}

.divContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

// luz que da fulgor ---------------------------------------------------------------
.brillo{
  border-radius:50%;
  background-color: transparent;
  box-shadow: 0 0 20px 10px #FFFFFFFF;
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 3px 5px red) drop-shadow(0 3px 5px blue);
  }
  50% {
    box-shadow: 0 0 50px 20px #e176f5;
  }
  100% {
    filter: drop-shadow(0 3px 5px red) drop-shadow(0 3px 5px blue);
  }
}

// fin de luz ---------------------------------------------------------------


.figuraFondo{
  position: absolute;
  top: 0;
  right: 5%;
  width: 0;
  height: 40px;
  border: 2px solid rgb(255,255,255,1);
  border-radius: 5px;
  filter: drop-shadow(0 3px 5px red) drop-shadow(0 3px 5px blue);
  background: transparent;
  animation: figuraEfecto 5s infinite;
}
@keyframes figuraEfecto {
  0%{
    top: 0;
  }
  100%{
    top: 100%;
  }
}
.figuraFondo2{
  position: absolute;
  top: 0;
  right: 5%;
  width: 0;
  height: 100%;
  border: 2px solid rgb(255,255,255,0.5);
}

.figuraFondo3{
  position: absolute;
  top: 50%;
  right: 0;
  width: 40px;
  height: 40px;
  border: 2px solid rgb(255,255,255,1);
  filter: drop-shadow(0 2px 5px red) drop-shadow(0 2px 5px blue);
  background: transparent;
  animation: figuraEfecto3 5s infinite;
}
@keyframes figuraEfecto3 {
  0%{
    rotate: 0;
  }
  100%{
    top: 100%;
    right: 100%;
    rotate: 360deg;
  }
}

form {
  padding: 5%;
  gap: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

ion-img{
  margin: 0;
  padding: 0;
  width: 45vw;
  height: 45vw;
  filter: drop-shadow(0 2px 5px red) drop-shadow(0 2px 5px blue);
  animation-name: efect2;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

form ion-item {
  --background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 15px;
  filter: drop-shadow(0 2px 5px red) drop-shadow(0 2px 5px blue);
  opacity: 0;
  animation-name: efect2;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes efect2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
ion-input {
  color: white;
  margin: 10px;
  font-size: 5vw;
}

ion-icon {
  color: white;
  font-size: 7vw;
}

.divBtn{
  filter: drop-shadow(0 2px 5px red) drop-shadow(0 2px 5px blue);
  border: 2px solid white;
  border-radius: 15px;
  padding: 15px;
  opacity: 0;
  animation-name: efect2;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.btn {
  padding: 0;
  margin: 0;
  font-size: x-large;
  font-weight: bold;
  border-radius: 15px;
  color: white;
}





