<ion-content>
  <div class="divContent">
    <div class="figuraFondo"></div>
    <div class="figuraFondo2"></div>
    <div class="figuraFondo3"></div>
    <div class="figuraFondo4"></div>
    <form [formGroup]="formularioLogin">
        <ion-img src="assets/DD.png"></ion-img>
      <ion-item>
        <ion-input formControlName="nombre" placeholder="Usuario"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input formControlName="password" placeholder="Password" [type]="passwordTypeInput"></ion-input>
        <ion-icon (click)="togglePasswordMode()" [name]="(passwordTypeInput === 'text')?'eye-outline':'eye-off-outline'"></ion-icon>
      </ion-item>
      <div class="divBtn">
        <h1 (click)="ingresar()" class="btn">INGRESAR</h1>
      </div>

    </form>
  </div>
</ion-content>

