<ion-content [fullscreen]="true">
  <div class="divContent">
      <h1>
        Login
      </h1>

    <form [formGroup]="formularioLogin">
      <ion-item>
        <ion-input formControlName="nombre" label="Usuario" label-placement="floating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="password" label="Password" label-placement="floating" type="password"
                   [type]="passwordTypeInput"></ion-input>
        <ion-icon (click)="togglePasswordMode()" [name]="(passwordTypeInput === 'text')?'eye':'eye-off'"></ion-icon>
      </ion-item>
    </form>

    <ion-button (click)="ingresar()">Ingresar</ion-button>
  </div>
</ion-content>

